* {
  margin: 0;
  padding: 0;
}
#desiredProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#product {
  font-family: screentext;
  width: 15%;
  padding: 10px 10px;
  margin: 8px 5px;
  box-sizing: border-box;
}
#address {
  font-family: screentext;
  width: 25%;
  padding: 10px 10px;
  margin: 8px 5px;
  box-sizing: border-box;
}
#radius {
  font-family: screentext;
  width: 15%;
  padding: 10px 10px;
  margin: 8px 5px;
  box-sizing: border-box;
}
input[type="submit"] {
  font-family: screentext;
  background-color: #ffd275;
  border: none;
  color: #1f1e1e;
  padding: 12px 25px;
  margin: 4px 2px;
  cursor: pointer;
}
/*DIV ids specifications -> LOGO, GITHUB, RESULTS page*/
#github {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
}
#logo {
  position: fixed;
  bottom: 1080;
  right: 1000;
  width: 120px;
}
#results {
  z-index: 1;
  position: absolute;
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 150px;
  width: 1050px;
  height: 1000px;
}

#table {
  z-index: 2;
  position: absolute;
  margin-top: 10px;
  width: 1030px;
  height: 1000px;
  border: 2px solid black;
}

#result_title {
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
}
div.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*LOGO and GITHUB formatting*/
img {
  border-radius: 50%;
  padding: 5px;
  width: 75px;
}
/* img:hover {
  box-shadow: 0 0 1px 2px rgba(177, 37, 84, 0.5);
} */

/*CUSTOM FONTS*/
@font-face {
  font-family: appname;
  src: url("/static/css/fonts/Hanged\ Letters.ttf");
}
@font-face {
  font-family: screentext;
  src: url("/static/css/fonts/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf");
}
hr {
  width:70%;
  text-align: center; 
  margin-left:160px
}
/*On screen text & Background customizations*/
body {
  background-color: rgba(227, 165, 135);
  background-image: url("/static/css/img/BACKGROUND.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
h1 {
  font-family: screentext;
  color: white;
  font-size: 100px;
  text-align-last: center;
}
h2 {
  font-family: screentext;
  color: rgb(255, 255, 255);
  font-size: 100px;
  text-align-last: center;
}
h3 {
  font-family: screentext;
  margin-top: 12px;
  color: rgb(219,90,66);
  text-align: center;
  font-size: 80px;
  font-weight: lighter;
}
h4 {
  font-family: "Candara";
  color: rgb(84, 146, 226);
  text-align: left;
}
h5 {
  font-family: "Candara";
  color: black;
  text-align: left;
  font-size: 20px;
}
h6 {
  font-family: "Candara";
  color: rgb(83, 81, 81);
  text-align: left;
  font-size: 18px;
}
p {
  font-family: "Candara";
  color: black;
  text-align: left;
  font-size: 30px;
  margin-top: 10px;
  text-indent: 10%;
}

table, td {
  border: 1px solid black;
}
