* {
  margin: 0;
  padding: 0;
}
#desiredProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#product {
  font-family: screentext;
  width: 15%;
  padding: 10px 10px;
  margin: 8px 5px;
  box-sizing: border-box;
}
#address {
  font-family: screentext;
  width: 25%;
  padding: 10px 10px;
  margin: 8px 5px;
  box-sizing: border-box;
}
input[type="submit"] {
  font-family: screentext;
  background-color: #ffd275;
  border: none;
  color: #1f1e1e;
  padding: 12px 25px;
  margin: 4px 2px;
  cursor: pointer;
}

div.logo {
  position: fixed;
  bottom: 1080;
  right: 1000;
  width: 120px;
}

div.title {
  position: fixed;
  top: 100;
  left: 0;
  width: 1360px;
  align-items: center;
}

img {
  border-radius: 50%;
  padding: 5px;
  width: 75px;
}
img:hover {
  box-shadow: 0 0 1px 2px rgba(177, 37, 84, 0.5);
}
@font-face {
  font-family: appname;
  src: url("/static/css/fonts/Shink\ Font\ by\ Rifki\ \(7NTypes\).otf");
}
@font-face {
  font-family: screentext;
  src: url("/static/css/fonts/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf");
}
body {
  background-color: rgb(227, 165, 135);
  background-image: url("/static/css/img/BACKGROUND.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  font-family: screentext;
  color: rgb(0, 0, 0);
  font-size: 100px;
  font-weight: lighter;
  text-align-last: center;
}
h2 {
  font-family: appname;
  color: rgba(196, 147, 123, 0);
  font-size: 80px;
  text-align-last: center;
}
h3 {
  font-family: "Roboto";
  color: rgb(214, 54, 80);
  text-align: left;
}
h4 {
  font-family: "Candara";
  color: rgb(84, 146, 226);
  text-align: left;
}
h5 {
  font-family: "Candara";
  color: black;
  text-align: left;
  font-size: 20px;
}
h6 {
  font-family: "Candara";
  color: rgb(83, 81, 81);
  text-align: left;
  font-size: 18px;
}
p {
  font-family: "Candara";
  color: black;
  text-align: left;
  font-size: 20px;
}