#gradientbackground {
    height: 615px;
    background-color: rgb(165,127,96); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right,rgb(227,165,135), rgb(165,127,96)); /* Standard syntax (must be last) */
  }

div.fixed {
    position: fixed;
    bottom: 1080;
    right: 1000;
    width: 120px;
  }

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 75px;
  }

}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/* body{
    background-color: rgb(227,165,135);
    background-image: url("img/Darkened.png");
    background-size: 1400px, 900px;
} */
h1{
    font-family: "Candara"; 
    color: rgb(17, 10, 9); 
    text-align: center;
}
h2{
    font-family: "Verdana";  
    color:rgb(81, 24, 238); 
    text-align: left;
}
h3{
    font-family: "Roboto";  
    color:rgb(214, 54, 80); 
    text-align: left;
}
h4{
    font-family: "Candara";  
    color:rgb(84, 146, 226); 
    text-align: left;}
h5{
    font-family: "Candara";  
    color: black; 
    text-align: left; 
    font-size: 20px;
}
h6{
    font-family: "Candara";  
    color: rgb(83, 81, 81); 
    text-align: left; 
    font-size: 18px;
}
p{
    font-family: "Candara";  
    color: black; 
    text-align: left; 
    font-size: 20px;
}