<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WTSZ application</title> '<!--This is the title that shows on the tab-->
  </head>
  <body>
    {% extends "template.html" %} <!--This lets us set the default standard for all pgs in this project-->
    {% block content %}
    <div class="fixed">
        <a target="_blank" href="{{ url_for('static', filename='css/img/Logo.png') }}">
            <img src="{{ url_for('static', filename='css/img/Logo.png') }}" alt="Team Logo">
        </a>
    </div>

    <h1> GROCERY</h1>
    
    {% endblock %}
    
  </body>
</html>

<!--  all rgb colours
Orange yellow crayola - 255,210,117
earth yellow - 232,174,104
cafe au lait - 165,127,96
tumbleweed - 227,165,135
fire opal - 219,90,66
-->
