<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WTSZ application</title>
  </head>
  <body>
    {% extends 'layout.html' %} {% block body %}

    <div class="fixed">
      <a
        target="_blank"
        href="{{ url_for('static', filename='css/img/logo_placeholder.png') }}"
      >
        <img
          src="{{ url_for('static', filename='css/img/logo_placeholder.png') }}"
          alt="Paris"
        />
      </a>
    </div>

    <div class="container">
      <h1>GROCERY</h1>
      <!-- <h2> Heading 2 </h2> -->
      <form action="{{ url_for('data') }}" id="desiredProduct" method="POST">
        <input
          type="text"
          placeholder="Enter Product"
          id="product"
          name="product"
        />
        <input type="text" placeholder="Address" id="address" name="address" />
        <input type="submit" />
      </form>
    </div>
    {% endblock %}
  </body>
</html>

<!--  all rgb colours
Orange yellow crayola - 255,210,117
earth yellow - 232,174,104
cafe au lait - 165,127,96
tumbleweed - 227,165,135
fire opal - 219,90,66
-->
