<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SWaTZ application</title>
  </head>
  <body>
    {% extends 'layout.html' %} {% block body %}

<!--LOGO IN CORNER-->
    <div class="logo">
      <a target="_blank" href="{{ url_for('static', filename='css/img/Logo.png') }}">
        <img src="{{ url_for('static', filename='css/img/Logo.png') }}" alt="TEAM LOGO" />
      </a>
    </div>

    <div id="github">
      <a target="_blank" href="https://github.com/TinsonWang/hack-instead-2020">
        <img src="{{ url_for('static', filename='css/img/github.png') }}" alt="TEAM LOGO" />
      </a>    </div>

<!--TITLE OF APP-->
    <div class="title">
      <h2> {} </h2>
      <h1>GROCERY</h1> <!-- TITLE OF APPLICATION ON CENTER OF SCREEN-->
    </div>

<!--ENTRY FORM-->
    <div class="container">
      <form action="{{ url_for('data') }}" id="desiredProduct" method="POST">
        <input type="text" placeholder="Enter Product" id="product" name="product"/>
        <input type="text" placeholder="Address" id="address" name="address" />
        <input type="submit"/>
      </form>
    </div>
    


    {% endblock %}
  </body>
</html>

<!--  all rgb colours
Orange yellow crayola - 255,210,117
earth yellow - 232,174,104
cafe au lait - 165,127,96
tumbleweed - 227,165,135
fire opal - 219,90,66
-->
